<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <form [formGroup]="validateForm">
          <div class="mb-0 text-left">
              <div class="col-lg-6">
                <select name="idMapel" id="idMapel" class="form-control form-control-alternative"
                    placeholder="Mata Pelajaran"
                    formControlName="idMapel">
                    <option value="" selected>Pilih Mata Pelajaran</option>
                        <option [value]="item.cd" *ngFor="let item of listMapel">
                          {{item.nama}}
                        </option>
                      </select>
                    <a (click)="getDataByMapel()"  class="btn btn-info">view Data</a>
              </div>
              
            </div>
            <div class="mb-0 text-right">
              <a [routerLink]="'/form-nilai'" class="btn btn-primary">Tambah Data</a>
            </div>
          </form>
          </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nama</th>
                <th scope="col">UTS</th>
                <th scope="col">UAS</th>
                <th scope="col">Mata Pelajaran</th>
                
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                
                <td>{{item.nama}}</td>
                <td>{{item.uts}}</td>
                <td>{{item.uas}}</td>
                <td>{{item.mapel}}</td>
                <td>
                  
                  <a (click)="toDetail(item.id)" class="btn btn-info">Edit</a>
                  <a (click)="toDelete(item.id)" class="btn btn-danger">Delete</a>
                  </td>

              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
